/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	color:#333;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.25em;
	font-size: 14px;
}

#wrapper{
	margin:0 auto;
	width:960px;
}

a{
	color: #FF5000;
	text-decoration: none;
}
a{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a:hover{
	color:#333;
}

h1{
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 20px;
}

h2{
	font-size: 20px;
	margin-bottom: 10px;
}

h3{
	font-size: 16px;
	margin: 20px 0px 10px 0px;
	color:  #FF5000;
}

p{
	margin-bottom: 1em;
	margin-top: 1em;
	line-height: 1.5em;
}

p:last-child{
	margin-bottom: 0px;
}

strong{
	font-weight: bold;

}

section{
	border-bottom: 1px #efefef solid;
	padding: 30px 10px;
	clear: both;
}

section:first-of-type{
	margin-top:42px;
}

section:last-of-type{
	border-bottom: 0px;
}

ul li{
	list-style-type: square;
	list-style-position: outside;
	list-style-color:  #FF5000;
	line-height: 1.5em;
	margin-bottom:0.5em;
	margin-left: 30px;
}

ul li:last-child{
	margin-bottom: 0px;
}

cite{
	font-family: monospace;
}

pre{
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	padding: 10px;
	color: black;
	font-family: Monaco, Andale Mono, Courier New, monospace;
	webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.button{
	padding: 8px;
	display: inline-block;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FC9468),
	color-stop(0.89, #FF5100)
	);
	background-image: -o-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
	background-image: -moz-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
	background-image: -webkit-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
	background-image: -ms-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
	background-image: linear-gradient(to bottom, #FC9468 0%, #FF5100 89%);
}

a.button, .button a{
	color: white;
}

.button:hover{
	cursor: pointer;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FFA47D),
	color-stop(1, #FF7D45)
);
background-image: -o-linear-gradient(bottom, #FFA47D 0%, #FF7D45 100%);
background-image: -moz-linear-gradient(bottom, #FFA47D 0%, #FF7D45 100%);
background-image: -webkit-linear-gradient(bottom, #FFA47D 0%, #FF7D45 100%);
background-image: -ms-linear-gradient(bottom, #FFA47D 0%, #FF7D45 100%);
background-image: linear-gradient(to bottom, #FFA47D 0%, #FF7D45 100%);
}

/* nav */
nav{
	line-height: 32px;
	padding: 5px 0px;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #222222),color-stop(0.89, #333333));
	background-image: -o-linear-gradient(bottom, #222222 0%, #333333 89%);
	background-image: -moz-linear-gradient(bottom, #222222 0%, #333333 89%);
	background-image: -webkit-linear-gradient(bottom, #222222 0%, #333333 89%);
	background-image: -ms-linear-gradient(bottom, #222222 0%, #333333 89%);
	background-image: linear-gradient(to bottom, #222222 0%, #333333 89%);
}

nav img{
	float: left;
	margin-left: 20px;
}

nav ul{
	width:960px;
	margin:0 auto;
}

nav ul li{
	display:inline;
	list-style: none;
	margin: 10px;
}


nav a, nav a:link{
	color:white;
}
nav a:hover{
	color:#FF5000;
}

nav a.active{
	color:#FF5000;
}

nav .pull-right{
	float: right;
	margin: 0px 10px;
}

.search input{
	margin-top: 4px;
	width: 210px;
	height: 18px;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #ffffff;
	font-size: 13px;
	line-height: 18px;
	padding-left: 5px;
}


/*hero*/

section#hero{
	text-align: center;
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top,  #ededed 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ededed 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ededed 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ededed 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ededed 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border-bottom:none;
	position:absolute;
	left:0px;
	top:0;
	width:100%;
}

section#hero p{
	width: 600px;
	margin: 10px auto 20px auto;

}

section#hero .version{
	color:grey;
	font-size: 12px;
	margin-bottom:10px;
}

section#hero img{
	display: inline;
	margin:20px 0px;
}

section#hero div#documentation{
	color:white;
	display: inline-block;
	position: relative;
}

section#hero div#documentation span{
	font-size: 10px;
	padding:10px 10px 6px 10px;
}

section#hero div#documentation a{
	color: white;
}

section#hero div#documentation ul{
	border-top: white 2px solid;
	text-align: left;
	position: absolute;
	left: 52px; top: 33px;
	display: none;
	background-color: #FF5000;
	width: 100px;
	font-size: 12px;
}

section#hero div#documentation ul li{
	border-top: white 1px solid;
	padding: 5px 5px;
	list-style: none;
	margin: 0px;
}
section#hero div#documentation ul li:hover{
	background-color: #ffa077;
	cursor: pointer;
}

/*Installation Instructions*/

section.install{
	margin-top:360px;
}

section.install div{
	margin-top: 30px;
}

section.install .button.download{
	float: right;
}

section.install ul li{
	list-style: none;
	margin-left: 0px;
}

section.install ul li a{
	border: 1px #FFE1D6 solid; 
	padding: 10px;
	float: left;
	margin: 0px 5px -1px 5px;
	height:20px;
	line-height: 20px;
}

section.install ul li:first-child a{
	margin-left: 0px;
}

section.install #os-selector ul li a:hover{
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FC9468),
	color-stop(0.89, #FF5100)
	);
	background-image: -o-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
	background-image: -moz-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
	background-image: -webkit-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
	background-image: -ms-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
	background-image: linear-gradient(to bottom, #FC9468 0%, #FF5100 89%);
	color: white;
	cursor: pointer;
}

section.install #os-selector li a.active{
	color: white;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FC9468),
	color-stop(0.89, #FF5100)
	);
	background-image: -o-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
	background-image: -moz-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
	background-image: -webkit-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
	background-image: -ms-linear-gradient(bottom, #FC9468 0%, #FF5100 89%);
	background-image: linear-gradient(to bottom, #FC9468 0%, #FF5100 89%);
}

section.install #os-selector li img{
	height:20px;
	vertical-align: top;
}
section.install #os-selector div{
	clear: both;
	border-top: 1px #FFE1D6 solid; 
	border-bottom: 1px #FFE1D6 solid;
	padding: 20px 0px;
	margin-bottom:20px;

}


section.install div h3{
	color: black;
	margin-top: 0px;
}


/*Affiliated*/

.featured{
	background-color:#fdfdfd;
}

.featured div{
	clear: both;
	padding: 20px 0px;
}

.featured div:first-of-type{
	padding-top: 5px;
}

.featured div h3{
	color:black;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #FFE1D6;
}

.featured img{
	float: left;
	margin-right:10px;
}

/* About */

ul.team{
	-moz-column-count:5; /* Firefox */
	-webkit-column-count:5; /* Safari and Chrome */
	column-count:5;
}

ul.team li{
	margin-bottom:0px;
}




